.layout-desktop .libraryPage:not(.noSecondaryNavPage) {  padding-top: 0em !important;}
.layout-desktop .overflowBackdropCard, .overflowSmallBackdropCard {  width: 12.7vw !important;  padding-right: 1.85em;}
.layout-desktop #homeTab .sections.homeSectionsContainer { margin-left: -2em; max-width: 102vw !important; margin-top: -17.5em;}
.layout-desktop .skinHeader-withBackground {background-color: transparent;}
.layout-desktop #homeTab .section0 .sectionTitle.sectionTitle-cards.padded-left {  display: flex !important; } 
